if SHIELD_ZABUROH_LEFT

config ZMK_KEYBOARD_NAME
    default "zaburoh-split"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_ZABUROH_LEFT

if SHIELD_ZABUROH_RIGHT

config ZMK_POINTING
    default y

endif #  SHIELD_ZABUROH_RIGHT

if SHIELD_ZABUROH_LEFT || SHIELD_ZABUROH_RIGHT

config ZMK_SPLIT
    default y
endif # SHIELD_ZABUROH_LEFT || SHIELD_ZABUROH_RIGHT
