menu "ZMK Config Extras"

config ZMK_JOYSTICK_ANALOG
    bool "Analog joystick input device"
    depends on ZMK_POINTING
    select ADC
    default y if SHIELD_ZABUROH_STICK
    help
      Enable the analog joystick input device.

endmenu
