if SHIELD_ZABUROH_STICK

config ZMK_KEYBOARD_NAME
    default "zaburoh_stick"

config ZMK_POINTING
    default y

config INPUT
    default y

config ADC
    default y

config ADC_ASYNC
    default y

config ANALOG_INPUT
    default y

config ANALOG_INPUT_LOG_DBG_RAW
    default y

config LOG_DEFAULT_LEVEL
    default 3

config EC11
    default y

config EC11_TRIGGER_GLOBAL_THREAD
    default y

endif # SHIELD_ZABUROH_STICK
