if SHIELD_ZABUROH_STICK

config ZMK_KEYBOARD_NAME
    default "zaburoh_stick"

config ZMK_POINTING
    default y

config INPUT
    default y

config ADC
    default y

config ADC_ASYNC
    default y

config ANALOG_INPUT
    default y

config ANALOG_INPUT_LOG_DBG_RAW
    default y

endif # SHIELD_ZABUROH_STICK
